<div class="row">
  <div class="small-6 columns">
    <%= render 'form' %>
    <% if LightShow.exists? %>
      <%= select_tag(nil, options_for_select(@light_show_dropdown), size: "2", id: "user-light-shows") %>
      <%= link_to 'Play Light Show', nil, class: "button", id: "play-light-show"  %>
      <%= link_to 'Delete Light Show', nil, class: "button", id: "delete-light-show"  %>
    <% end %>
  </div>
  <div class="small-6 columns">
    <% if LightShow.exists? %>
      <%= render '/light_sequences/form' %>
    <% end %>
  </div>
</div>
